* {
    box-sizing: border-box;
  }

body {
    font-family: 'Nunito', Arial, sans-serif;
}

/* -- NAV BAR -- */

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  color: white;
  background-color: #031349;
  padding: .5rem .5rem 1rem .5rem;
}

.nav-left {
    margin-right: auto;
    font-size: 1.25em;
}

.nav-right {
  justify-content: flex-end;
  margin-right: 2rem;
}

.logo-image {
    max-height: 24px;
    max-width: 24px;
}

/*list in nav*/
ul {
  margin: 0;
  padding: 0;
}

/*nav icons*/
li, .potted-plant {
    color: white;
    display: inline;
    margin: 0 1rem;
}

li a:hover, .potted-plant:hover {
    color: #f0f0f0;
    border-bottom: 0.25rem solid #f0f0f0;
    transition: .25s ease-out;
}

/*icons*/
li a {
    color: white;
    text-decoration: none;
}

.potted-plant {
  color: #1FB152;
}

/* -- HEADER -- */

header {
    color: black;
    padding-top: 6rem;
    padding-bottom: 1rem;
}

/* -- CARDS -- */

.card-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    height: 100%
  }

.outter-card {
    flex: 0 0 270px;
    background-color: #F0F0F0;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.16),
      0 1px 3px rgba(0, 0, 0, 0.23);
  }

  .outter-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .inner-card {
    flex: 0 0 80px;
    background-color: #E7E7E7;
    margin: 0.5rem;
    border-radius: 10px;
  }

  /* add icon above image*/
  .playlist-add {
    text-align: right;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    color: #505050;
  }
  

  /* icons at bottom of card */
  .bottom-icons-container {
    margin: 1rem;
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 0 0 15px 15px;
}

.bottom-icons-container .sunlight .water {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}

.water-icon {
    color: #3780D6;
}

.sun-icon {
    color: #FFBA08;
}

/* adjusting font sizes at bottom*/
.type {
    font-size: 11px;
}

.value {
    font-size: 18px;
    font-weight: bold;
}

/*text in card*/
  .outter-card >  p {
    padding: 0.5rem 1rem;
    justify-content: center;
  }

  .inner-card > p {
    padding: 0.5rem 1rem;
  }

/* -- FOOTER -- */

footer {
    color: black;
    background-color: #F0F0F0;
}

/*hyperlinks*/
footer a {
    color: black;
    text-decoration: none;
}

/*text in footer*/
footer p {
    margin: 0;
    line-height: 1.25;
}

footer p:last-child {
    padding-top: 8px;
}

/* Home page content */
.hp-card-container {
  background-color: white;
  width:240px;
  text-align: center;
  justify-content: center;
  padding: 24px;
  border-radius: 4px;
}

.hp-card-find {
  margin-right: 64px;
  background-color: #A6CDCC;
  width: 272px;
  padding: 16px;
  border-radius: 8px;
}

.hp-card-plan {
  margin-right: 64px;
  background-color: #efb643;
  width: 272px;
  padding: 16px;
  border-radius: 8px;
}

.hp-card-team {

  background-color: #d9bcb8;
  width: 272px;
  padding: 16px;
  border-radius: 8px;
}

.hp-card-title {
  font-size: 32px;
}

.hp-card-image {
  padding-top: 16px;
}

.hp-cards {
  display: flex;
  justify-content: center;
  margin-bottom: 8em;
}

.hp-mission {
  margin-left: 12em;
  margin-right: 12em;
  margin-bottom: 6em;
}

.hp-eyecatch {
  font-size: 64px;
}

.hp-statement {
  margin-top: 8em;
  font-size: 24px;
  width: 424px;
}

.banner {
  display: flex;
  justify-content: center;
  
}