* {
    box-sizing: border-box;
  }

body {
    font-family: 'Nunito', Arial, sans-serif;
}

p {
  font-size: 18px;
}

/* -- NAV BAR -- */

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  height: 64px;
  width: 100%;
  color: white;
  background-color: #031349;
  padding: .5rem .5rem .5rem .5rem;
}

.nav-left {
  margin-right: auto;
  font-size: 1.25em;
}

.nav-right {
  justify-content: flex-end;
  margin-right: 2rem;
}

.logo-name {
  font-weight: bold;
  margin-left: 1.25rem;
}

/*list in nav*/
ul {
  margin: 0;
  padding: 0;
}

/*nav icons*/
li, .potted-plant {
    color: white;
    display: inline;
    margin: 0 1rem;
}

li a:hover, .potted-plant:hover {
    color: #f0f0f0;
    border-bottom: 0.25rem solid #f0f0f0;
    transition: .25s ease-out;
}

/*icons*/
li a {
    color: white;
    text-decoration: none;
}

.potted-plant {
  color: #1FB152;
}

/* -- HEADER -- */

header {
    color: black;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
}

/* -- WATERING SCHEDULE -- */

.calendar {
  padding: 20px 0 20px 0;
  width: auto;
  background-color: #F0F0F0;
}

.grid {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: 72px 176px 176px 176px 176px 176px 176px 176px;
  grid-template-rows: 36px auto auto;
  column-gap: 9px;
  row-gap: 9px;
  border-radius: 10px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.plant-card, .blank-card {
  height: 184px;
  width: 164px;
  background-color: #E7E7E7;
  margin: 0.5rem;
  border-radius: 10px;
  justify-content: space-evenly;
  justify-items: center;
  text-align: center;
}

.no-entry {
  padding-top: 88px;
  color: #9a9a9a;
}

.plant-card > img {
  padding-top: 16px;
  padding-bottom: 16px;
}

.plant-card:hover {
  outline: 2px solid #3780D6;
}

.weekday-num {
  padding-top: 30px;
  margin-right: 0;
  text-align: left;
}

.weekday-name {
  text-align: center;
}

.weekday-name, .weekday-num {
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 1080px) {
  .calendar {
      overflow-x: auto;
      width: auto;
      display: flex;
      flex-wrap: nowrap;
      height: 300px;
  }
}

/* -- CARDS -- */

.card-container {
    text-align: center;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: left;
    height: 100%;
    padding-bottom: 2.5rem;
  }

  .card-container > a {
    color: #505050;
  }

.outter-card {
    flex: 0 0 270px;
    background-color: #F0F0F0;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.16),
      0 1px 3px rgba(0, 0, 0, 0.23);
  }

  .outter-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .inner-card {
    flex: 0 0 80px;
    background-color: #E7E7E7;
    margin: 0.5rem;
    border-radius: 10px;
  }

  /* add icon above image*/
  .playlist-add, .playlist-remove {
    text-align: right;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    color: #505050;
  }

  .playlist-add:hover, .playlist-remove:hover, .interact:hover {
    color: #9a9a9a;
    cursor: pointer;
  }

  /* icons at bottom of card */
  .bottom-icons-container {
    margin: 1rem;
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 0 0 15px 15px;
}

.bottom-icons-container .sunlight .water {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}

.water-icon {
    color: #3780D6;
}

.sun-icon {
    color: #FFBA08;
}

/* adjusting font sizes at bottom*/
.name {
  padding-top: 0.5rem;
  font-weight: bold;
}

.type, .desc {
  font-size: 11px;
}

.desc {
  padding-bottom: 0.75rem;
}

.value {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 0.125rem;
}

/*text in card*/
  .outter-card >  p {
    padding: 0.5rem 1rem;
    justify-content: center;
  }

  .inner-card > p {
    padding: 0.5rem 1rem;
  }

/*media query*/
  @media (max-width: 767px ) {
    .grid_item {
      grid-template-columns: repeat(2, 1fr);
    }

    .card-container {
      flex-direction: column;
    }

    .name {
      font-size: 18px;
    }

    .desc {
      font-size: 16px;
    }
    
    .type {
      font-size: 18px;
    }
  }

  @media (min-width: 768px) {
    .grid_item  {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* GRID CREDIT: https://travishorn.com/responsive-grid-in-2-minutes-with-css-grid-layout-4842a41420fe */

/* -- FOOTER -- */

footer {
  text-align: center;
  color: white;
  background-color: #505050;
  left: 0;
  bottom: 0;
  width: 100%;
  position: relative;
  padding-bottom: 45px;
}

.footer-content {
  margin: 0;
  font-size: 14px;
  color: white;
  display: inline;
} 

/*hyper link*/
footer a {
  color: white;
  text-decoration: none;
}

li a:hover {
  color: #f0f0f0;
  border-bottom: 0.8rem solid #f0f0f0;
  transition: .25s ease-out;
}

footer p {
  margin: 0;
  line-height: 1.25;
}

footer p:last-child {
  padding-top: 8px;
}



/* Home page content */
.hp-card-container {
  background-color: white;
  width:240px;
  text-align: center;
  justify-content: center;
  padding: 24px;
  border-radius: 4px;
}

.hp-card-find {
  margin-right: 64px;
  background-color: #A6CDCC;
  width: 272px;
  padding: 16px;
  border-radius: 8px;
}

.hp-card-plan {
  margin-right: 64px;
  background-color: #efb643;
  width: 272px;
  padding: 16px;
  border-radius: 8px;
}

.hp-card-team {

  background-color: #d9bcb8;
  width: 272px;
  padding: 16px;
  border-radius: 8px;
}

.hp-card-title {
  font-size: 32px;
}

.hp-card-image {
  padding-top: 16px;
}

.hp-cards {
  display: flex;
  justify-content: center;
  margin-bottom: 8em;
}

.hp-mission {
  margin-left: 36em;
  margin-right: 36em;
  margin-bottom: 6em;
}

.hp-eyecatch {
  font-size: 64px;
}

.hp-statement {
  margin-top: 8em;
  font-size: 24px;
  width: 424px;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin-left: 36em;
  margin-right: 36em;
}


/* Forum */
.search-bar {
  background-color: white;
  width: 1000px;
  height: 48px;
  display: flex;
  align-items: center;
  border: 1.5px solid #DADADADA;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.search-bar input[type=search] {
  width: 1000px;
  height: 45px;
  display: flex;
  align-items: center;
  border: none;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.search-bar button{
  border-radius: 10px;
  border: none;
  background-color: transparent;
}

.search-bar button:hover {
  background-color:  #E7E7E7;
}

div.filters{
  width: 100%;
  height: 90px;
  white-space: nowrap;
  overflow-x: auto;
}

div.filters > button{
  display: inline-block;
}

.events{
  background-color: #FFC84B;
  border-radius: 5px;
  border: none;
  margin: 0;
  position: absolute;
  left: 18%;
  padding: 5px;
}

.events:hover{
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.tips{
  background-color: #597B49;
  border-radius: 5px;
  border: none;
  position: absolute;
  left: 28%;
  padding: 5px;
}

.tips:hover{
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.sale{
  background-color: #D9BCB8;
  border-radius: 5px;
  border: none;
  position: absolute;
  left: 38%;
  padding: 5px;
}

.sale:hover{
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.help{
  background-color: #D1806B;
  border-radius: 5px;
  border: none;
  position: absolute;
  left: 48%;
  padding: 5px;
}

.help:hover{
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.sustainbility{
  background-color: #699FE0;
  border-radius: 5px;
  border: none;
  position: absolute;
  left: 60%;
  padding: 5px;
}

.sustainbility:hover{
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.progress{
  background-color: #A6CDCC;
  border-radius: 5px;
  border: none;
  position: absolute;
  left: 70%;
  padding: 5px;
}

.progress:hover{
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.bookmark{
  background-color: white;
  color:#3F3F3F;
  border-radius: 5px;
  border: none;
  margin: 0;
  position: absolute;
  left: 80%;
  padding: 5px;
}

.bookmark:hover{
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.filters {
  height: 32px;
  margin-right: 16px;
}

.outer-post {
  background-color: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.outer-post input[type=text]{
  border: 1.5px solid #DADADADA;
  font-size: 15px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  width: 1000px;
  height: 45px;
}

.inner-post span{
  font-size: 40px;
  text-align: center;
  color:#3F3F3F;
}

.posted{
  background-color: white;
  border: none;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 10px;
  width: 1000px;
  height: 250px;
}

.div.topic{
  background-color: white;
  width: 100%;
  height: 90px;
  white-space: nowrap;
  overflow-x: auto;
}

.div.topic > span, h4, button{
  display: inline-block;
}

.tips2{
  background-color: #597B49;
  border-radius: 5px;
  border: none;
  position: absolute;
  left: 69%;
  padding: 5px;
  margin-top: 20px;
}

.sustainbility2{
  background-color: #699FE0;
  border-radius: 5px;
  border: none;
  position: absolute;
  left: 76%;
  padding: 5px;
  margin-top: 20px;
}

.topic span{
  font-size: 30px;
  text-align: center;
  color:#3F3F3F;
  margin-top: 20px;
  position: absolute;
  left: 18%
}

.topic h4{
  font-size: 10px;
  text-align: center;
  margin-top: 29px;
  position: absolute;
  left:20%
}

.topic h5, p{
    font-size: 13px;
    top: 15%;
    position: relative;
    margin-left: 10px;
}