* {
    box-sizing: border-box;
  }

body {
    font-family: 'Nunito', Arial, sans-serif;
}

.not-found-page {
  padding-top: 50px;
}

.log-in {
  padding-top: 60px;
  text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
    overflow-y: auto;
  }
  
  p {
    font-size: 18px;
  }