.hp-mission {
  margin-left: 36em;
  margin-right: 36em;
  margin-bottom: 6em;
}

.hp-eyecatch {
  font-size: 64px;
}

.hp-statement {
  margin-top: 8em;
  font-size: 24px;
  width: 424px;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin-left: 36em;
  margin-right: 36em;
  margin-top: 96px;
}


@media (max-width: 768px) {
.hp-mission,
.banner {
  margin-left: 1em;
  margin-right: 1em;
}

.hp-eyecatch {
  font-size: 48px;
}

.hp-statement {
  margin-top: 4em;
  font-size: 18px;
  width: 100%;
}

.banner img {
  max-width: 83%;
  height: auto;
}
}

@media (max-width: 480px) {
.hp-mission,
.banner {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.hp-eyecatch {
  font-size: 36px;
}

.hp-statement {
  margin-top: 2em;
  font-size: 16px;
}
}