.filter-container {
  margin: auto;
}

.filters{
  width: 100%;
  height: auto;
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.left-tags {
  display: flex;
  align-items: center;
}

.tag-bot {
  margin-top: 8px;
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.events{
  background-color: #FFC84B;
}

.tips{
  background-color: #597B49;
  color: white;
}

.sale{
  background-color: #D9BCB8;
}

.help{
  background-color: #D1806B;
}

.sustainability{
  background-color: #699FE0;
}

.progress{
  background-color: #A6CDCC;
}

.bookmark{
  background-color: white;
  color:#3F3F3F;
  margin-left: auto;
}

.tag:hover, .post:hover {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 1020px) {
  .left-tags {
    flex-direction: row;
  }
  .tag {
      font-size: 12px;
  }
  .filters {
    flex-direction: column;
}

.bookmark {
    margin: 8px auto;
}
}

@media (max-width: 768px) {
  .left-tags {
    flex-direction: row;
  }
  .tag {
    font-size: 12px;
    margin: 9px;
  }

  .filters {
    justify-content: center;
  }

  .bookmark {
    margin: 8px auto;
  }
}

@media (max-width: 640px) {
.left-tags {
  flex-direction: row;
}
.tag {
  font-size: 9px;
  margin: 3px;
}

.filters {
  justify-content: center;
  margin-bottom: 5px;
}

.bookmark {
  margin: 8px auto;
}
}