.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    height: 64px;
    width: 100%;
    color: white;
    background-color: #031349;
    padding: .5rem .5rem .5rem .5rem;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 1.25em;
    margin-left: 4rem;
  }
  
.nav-right {
  justify-content: flex-end;
  margin-right: 3rem;
  color: white;
  text-decoration: none;
}

  .logo {
    width: 32px;
  }

  .logo-name {
    font-weight: bold;
    margin-left: 8px;
  }
  
  /*list in nav*/
  ul {
    margin: 0;
    padding: 0;
  }
  
  /*nav icons*/
  li, .potted-plant {
      color: white;
      display: inline;
      margin: 0 1rem;
  }
  .nav li.active {
    color: #f0f0f0;
    border-bottom: 0.25rem solid #f0f0f0;
  }  
  nav ul .nav-right:hover, .potted-plant:hover {
      color: #f0f0f0;
      border-bottom: 0.5rem solid #f0f0f0;
      transition: .25s ease-out;
  }


  
  /*icons*/
  li a {
      color: white;
      text-decoration: none;
  }