.card-container {
  text-align: center;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: left; 
  gap: 50px; 
  padding: 2rem;
  margin: 6rem auto;
}

.card-container > a {
  color: #505050;
}

.outter-card {
  flex: 0 0 270px;
  background-color: #F0F0F0;
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.16),
    0 1px 3px rgba(0, 0, 0, 0.23);
}

.outter-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.inner-card {
  flex: 0 0 80px;
  background-color: #E7E7E7;
  margin: 0.5rem;
  border-radius: 10px;
}

/* add icon above image*/
  .playlist-add, .playlist-remove {
    text-align: right;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    color: #505050;
  }

  .playlist-add:hover, .playlist-remove:hover, .interact:hover {
    color: #9a9a9a;
    cursor: pointer;
  }

  /* icons at bottom of card */
  .bottom-icons-container {
    margin: 1rem;
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 0 0 15px 15px;
}

.bottom-icons-container .sunlight .water {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}

.water-icon {
    color: #3780D6;
}

.sun-icon {
    color: #FFBA08;
}

/* adjusting font sizes at bottom*/
.name {
  padding-top: 0.5rem;
  font-weight: bold;
}

.type, .desc {
  font-size: 11px;
}

.desc {
  padding-bottom: 0.75rem;
}

.value {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 0.125rem;
}

/*text in card*/
  .outter-card >  p {
    padding: 0.5rem 1rem;
    justify-content: center;
  }

  .inner-card > p {
    padding: 0.5rem 1rem;
  }
