
.posted{
    background-color: white;
    border: none;
    margin: 24px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 16px;
  }
  
  /* section 1 container */
  .post-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    height: 32px;
  }
  
  .account {
    display: flex;
    align-items: center;
  }
  
  /* account icon */
  .post-header span{
    font-size: 32px;
    color:#3F3F3F;
    margin-right: 4px;
  }
  
  .right-tags .tag{
    margin-right: 0;
    margin-left: 16px;
  }
  
  .posted h2 {
    margin: 0px;
  }
  
  .posted-text {
    max-height: 180px;
    overflow: hidden;
    margin-bottom: 16px;
  }
  
  .post-title {
    font-weight: bold;
    font-size: 24px;
  }
  
  .post-acc-name {
    font-size: 1rem;
    font-weight: 600;
  }

  .post-acc-icon {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .post-interactions, .likeBtn, .saveBtn {
    display: flex;
    align-items: center;
  }

  .likeBtn, .saveBtn {
    margin-right: 16px;
    padding-right: 8px;
  }

  /* cant get them to be white with black border */
  /* .post-interactions .material-icons {
    color-scheme: white;
    border: 1px solid black;
  } */

 .liked {
    color: rgb(202, 3, 3);
  }

  .saved {
    color: goldenrod;
  }