.calendar {
  padding: 20px 0;
  width: 100%;
  height: 600px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  width: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 36px auto auto;
  column-gap: 0px;
  row-gap: 15px;
  border-radius: 10px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin: 10px; 
}

.schedule-img{
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
}

.WateringSchedule > p {
  font-style: italic;
}

/* Apply gap between rows for the weeks */
.grid > .grid-item:nth-child(n + 10) {
  row-gap: 64px;
  margin-bottom: 64px;
}

.grid > .grid-item:nth-child(n + 18) {
  padding-bottom: 120px;
}

.week-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

  .grid-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
  }
  
  .grid-item {
    flex: 1; 
    text-align: center;
    padding: 8px;
  }
  
  
  .plant-card, .blank-card {
    height: auto; 
    max-width: 150px; 
    background-color: #e7e7e7;
    margin: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
  }
  
  .no-entry {
    padding-top: 88px;
    color: #9a9a9a;
  }
  
  .plant-card > img {
    padding: 12px; 
  }
  
  .plant-card:hover {
    outline: 2px solid #3780D6;
  }
  
  .weekday-num {
    padding-top: 30px;
    margin-right: 0;
    text-align: left;
  }
  
  .weekday-name {
    text-align: center;
  }
  
  .weekday-name, .weekday-num {
    font-size: 12px;
    font-weight: bold;
    flex: 1;
    text-align: center;
    padding: 8px;
  }
  
  @media (max-width: 1080px) {
    .calendar {
        overflow-x: auto;
        width: auto;
        display: flex;
        flex-wrap: nowrap;
        height: 300px;
    }
  }

  .name {
    padding-top: 0.5rem;
    font-weight: bold;
    font-size: 14px;
  }
  
  .type, .desc {
    font-size: 11px;
  }
  
  .desc {
    padding-bottom: 0.75rem;
  }
  
  .value {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0.125rem;
  }
  
  /*text in card*/
    .outter-card >  p {
      padding: 0.5rem 1rem;
      justify-content: center;
    }
  
    .inner-card > p {
      padding: 0.5rem 1rem;
    }

  /*media query*/
    @media (max-width: 767px ) {
      .grid-item {
        grid-template-columns: repeat(2, 1fr);
      }
  
      .card-container {
        flex-direction: column;
      }
  
      .name {
        font-size: 18px;
      }
  
      .desc {
        font-size: 16px;
      }
      
      .type {
        font-size: 18px;
      }
    }
  
    @media (min-width: 768px) {
      .grid_item  {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  